{% extends 'base.html.twig' %}

{% block title %}{{ recette.titre }}{% endblock %}

{% block body %}

<div class="card shadow p-3">

    <h1>{{ recette.titre }}</h1>

    <p>{{ recette.description }}</p>

    <hr>

    <h4>Ingredients</h4>
    <ul>
        {% for ing in recette.ingredients %}
            <li>{{ ing.quantite }} - {{ ing.nom }}</li>
        {% else %}
            <li>Aucun ingrédient</li>
        {% endfor %}
    </ul>

    <h4>Instructions</h4>
    <p>{{ recette.instructions }}</p>

    <hr>

    <a class="btn btn-warning"
       href="{{ path('recette_edit', {id: recette.id}) }}">
        Edit
    </a>

    <form method="post"
          action="{{ path('recette_delete', {id: recette.id}) }}"
          style="display:inline"
          onsubmit="return confirm('Supprimer ?');">

        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>

</div>

{% endblock %}